*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#f4f6f8;

    font-family:"Microsoft YaHei";

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.container{

    width:500px;

    background:white;

    padding:40px;

    border-radius:12px;

    text-align:center;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

}

h1{

    color:#3498db;

    margin-bottom:20px;

}

.subtitle{

    color:#666;

    margin-bottom:30px;

}

button{

    padding:12px 35px;

    border:none;

    background:#3498db;

    color:white;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}

button:hover{

    background:#2980b9;

}

#message{

    margin-top:30px;

    font-size:20px;

    color:#27ae60;

}